@inject Serenity.ITextLocalizer Localizer
@{
    ViewData["Title"] = Localizer.Get("Db.Default.CaseServiceData.EntityPlural");
}

<div id="GridDiv"></div>
<<style>

    /*.s-QuickSearchBar{
      
    }*/

</style>
<script type="text/javascript">
    jQuery(function () {
        new Serene1.Default.CaseServiceDataGridCustom($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>