@inject Serenity.ITextLocalizer Localizer
@{
    ViewData["Title"] = Localizer.Get("Db.Default.ContactBook.EntityPlural");
}

<div id="GridDiv"></div>
<<style>
    .slick-cell{
        font-size: 17px;  color: purple;
    }
</style>
<script type="text/javascript">
    jQuery(function () {
        new Serene1.Default.ContactBookGridCustom($('#GridDiv')).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>